<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>ADD SONG</title>
</head>
<body>
<h1>Add Song</h1>
	<form action="addsong" method="post">
	<label>Name:</label><br>
	<input type="text" name="name" id="song">
	<br><br>
	<label>Artist:</label><br>
	<input type="text" name="artist" id="artist">
	<br><br>
	<label>Genre:</label><br>
	<input type="text" name="genre" id="genre">
	<br><br>
	<label>Link:</label><br>
	<input type="text" name="link" id="link">
	<br><br>
	<input type="submit" value="ADD SONG">
	</form>
</body>
</html>